p { color:rgb(53, 110, 112); font-size: 20px; padding: 15px; background-color:rgb(177, 207, 160)  }

ol {color: rgb(8, 110, 105); font-size: 18px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; padding: 5px; background-color:rgb(175, 196, 206)}
h3 {padding: 15px; background-color:azure}
html { background-image:url(foggyswamp.jpg); width: 3000px;; color: darkolivegreen;} 